body
{
	text-align: center;
	background-image: url("doodle_grid.png");
	background-size: cover;
}
span
{
	font-size: 18px;
	color: red;
}
canvas
{
	background: pink;
	border-radius: 20px;
	border: 5px palevioletred ridge;
}
.heading{
	font-size: 25px;
}